<% provide(:title, "About") %>
<h1 class="text-center">About</h1>
<div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="row clearfix">
          <div class="col-md-3 column">
          </div>
          <div class="col-md-6 column">
              <h2>关于博客</h2>
                <h3>名字：</h3>
                <p>BNB是BNB is Not a Blog的缩写（随便取的 😶</p>
                <h3>用途：</h3>
                <p>当然还是用来写博客 = =。 不过功能很基础，没有标签和分类，只有基础的markdown语法支持和评论功能，而且评论不能回复，也不会通知作者（不会写+目测没什么人用这个博客 orz</p>
                <h3>正确的打开方式：</h3>
                <ul>
                <li><p>注册</p>
                <ul>
                <li>邮箱+名字+密码方可注册（不过没有邮件验证功能 quq</li>
                <li>通过邮箱登录。所以邮箱不能有重复，而名字可以。</li>
                <li>密码最少6个字符。<strong>密码别和其他重要账号重复</strong>，出了啥问题我负责不了 （逃</li></ul></li>
                <li><p>登录</p>
                <ul>
                <li>邮箱+密码</li></ul></li>
                <li><p>头像</p>
                <ul>
                <li>使用<a href="https://cn.gravatar.com/">Gravatar</a>提供的服务，能通过邮箱绑定头像。（不懂的用户注册后进profile可以看到有个change按钮，点进去注册个Gravatar账号就能绑定邮箱和头像了</li></ul></li>
                <li><p>写博客:</p>
                <ul>
                <li>博客标题不能为空，最多150字符。内容太不能为空，最多30000字符。</li>
                <li>支持markdown语法，不过markdown语法的代码块请务必加正确的language名（，一般主流的编程语言应该都支持），否则无法正常显示博文。当出现这种情况后，点<strong>edit</strong>修改文章，把代码块language名修改一下方可破。</li></ul></li>
                <li><p>评论</p>
                <ul>
                <li>登录后方可评论，评论不超过200字符。</li></ul></li>
                </ul>
                <h3>其他：</h3>
                <ul>
                <li>采用Ruby on Rails框架开发。</li>
                </ul>
                <h2>关于我</h2>
                <p>绝顶垃圾 💩  爱听音乐</p>
                <h2>友情链接</h2>
                <p><a href="http://www.jusot.com">Jusot</a> (前排膜聚聚🤖</p>
          </div>
          <div class="col-md-3 column">
          </div>
        </div>
      </div>
    </div>
  </div>

