

<div class="center jumbotron">
  <h1>欢迎来到BNB :)</h1>

  <h2>
    <strong>BNB</strong>是<strong>BNB is Not a Blog</strong>的递归缩写(然而实际上就是个博客 orz
  </h2>
  <% if !logged_in?%>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<div class="text-right">

 
</div>