<li>
  <%= link_to gravatar_for(user, size: 100), user %>
  <h3><%= link_to user.name, user %></h3>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?"} %>
  <% end %>
</li>